<footer>

    <div class="container_footer">
        <div class="box_footer">
            <div class="logo">
                <img src="/images/prod/logo.png" alt="">
            </div>
        </div>
        <div class="box_footer">
            <h2>Enterate de nuestras promos y novedades!</h2>
            <a href="#">Registro</a>
            <a href="">Iniciar sesión</a>
        </div>

        <div class="box_footer">
            <h2>Menú</h2>
            <a href="#">Inicio</a>
            <a href="#">Categorias</a>
            <a href="#">Contacto</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Ubicación</a>              
        </div>

        <div class="box_footer">
            <h2>Redes Sociales</h2>
            <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

    </div>

    <div class="box_copyright">
        <hr>
        <p>Pagina de Prueba sin valor comercial M.A ♥</p>
    </div>
</footer>
