<header class="hero">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="/" class="logo1">
            <img src="/images/prod/logo2.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/libros">Productos</a></li>
            <li><a href="/views/login.ejs">LogIn</a></li>
            <li><a href="/views/signin.ejs">Registro</a></li>
            <li><a href="#">Contacto</a></li>
            
        </ul>
    
    </nav>
    
    

    <div class="tittle">
        <h1>El Gato Negro</h1>
    </div>



</header>
  

